flask>=2.2.2
flask_login>=0.6.2
flask_wtf>=1.0.1
flask_babel>=2.0.0
flask_talisman>=1.0.0
wtforms>=3.0.1
authlib>=1.0.1
pyopenssl>=22.0.0
requests>=2.28.1
azure_cosmos>=4.3.0
sendgrid>=6.9.7
deepl>=1.9.0
babel==2.10.3