{% extends "en/base.html" %}

{% block title %}Ban appeal{% endblock %}

{% block content %}
<form action="/ban-appeal-callback" method="post">
    <label>
        Enter why you should be unbanned.<br>
        <textarea rows="4" cols="128" name="reason" maxlength="512" autofocus required></textarea>
    </label><br><br>
    <input type="hidden" name="user_id" value="{{ user_id }}">
    <input type="hidden" name="appeal_code" value="{{ appeal_code }}">
    <input type="submit" value="Submit">
</form>
{% endblock %}