<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/w3.css">

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <script src="https://kit.fontawesome.com/280bdb224c.js" crossorigin="anonymous"></script>
    <script src="/static/js/gen_script.js"></script>

    <title>{% block title required %}{% endblock %} - RandomBroadcastingSelector</title>
</head>

<nav class="w3-bar w3-border-bottom w3-light-grey" style="overflow: visible;">
    <a href="/en/"><img class="hover-zoom w3-bar-item" style="padding: 0;height: 54.5px;" src="/static/img/logo RBS.png"
            alt="RBS logo"></a>
    <a class="w3-bar-item w3-button w3-padding-16 w3-border-right{% block home_main %}{% endblock %}"
        href="/en/"><b>R</b>andom<b>B</b>roadcasting<b>S</b>elector</a>
    <a class="w3-bar-item w3-button w3-padding-16 w3-border-right{% block stats_main %}{% endblock %}"
        href="/en/statistics/">Stats</a>
    <a class="w3-bar-item w3-button w3-padding-16 w3-border-right{% block history_main %}{% endblock %}"
        href="/en/history/1">History</a>
    {% if current_user.is_broadcaster: %}
    <a class="w3-bar-item w3-button w3-padding-16 w3-border-right{% block broadcast_main %}{% endblock %}"
        href="/en/broadcast/">Broadcast</a>
    {% endif %}

    {% if current_user.is_authenticated: %}
    <a class="w3-bar-item w3-button w3-right w3-padding-16 w3-border-left" href="/logout/">Logout</a>
    <span class="w3-bar-item w3-right w3-padding-16 w3-border-left">{{ current_user.name }}</span>
    {% else: %}
    <a class="w3-bar-item w3-button w3-right w3-padding-16 w3-border-left{% block login_main %}{% endblock %}"
        href="/en/login/">Login</a>
    {% endif %}
    <div class="w3-dropdown-hover w3-right">
        <button class="w3-button w3-padding-16 w3-border-left">Language</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/fr/" class="w3-bar-item w3-button">French (Not Implemented)</a>
            <a href="/de/" class="w3-bar-item w3-button">German (Not Implemented)</a>
            <a href="/es/" class="w3-bar-item w3-button">Spanish (Not Implemented)</a>
        </div>
    </div>
</nav>

<body>
    <div class="w3-container">
        {% block content required %}{% endblock %}
    </div>
    <br>
    <footer class="w3-container w3-light-grey w3-padding-16">
        <i>Created by <a href="mailto:random.broadcasting.selector@gmail.com">Nifle CGE</a></i> | <a
            href="/en/donate/">Donate</a> | <a href="/en/post/">Lookup an individual post</a> | <a
            href="/en/sitemap/">Sitemap</a> | <a href="/privacy-policy/">Privacy Policy</a> | <a
            href="/terms-of-service/">Terms of Service</a>
        <br>
        <small>If you spot any spelling mistakes or encounter any bugs just contact me by clicking my name
            above.</small>
    </footer>
</body>

</html>