<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <script src="/static/js/script.js"></script>

    <title>{% block title required %}{% endblock %} - RandomBroadcastingSelector</title>
</head>

<nav>
    <div class="w3-top">
        <div class="w3-bar w3-light-grey">
            <a href="/en/"><img class="logo w3-bar-item" style="padding: 0;height: 54.5px;"
                    src="/static/img/logo RBS.png" alt="RBS logo"></a>
            <a class="w3-bar-item w3-button w3-padding-16{% block home_main %}{% endblock %}"
                href="/en/">RandomBroadcastingSelector</a>
            <a class="w3-bar-item w3-button w3-padding-16{% block stats_main %}{% endblock %}"
                href="/en/statistics">Stats</a>
            <a class="w3-bar-item w3-button w3-padding-16{% block history_main %}{% endblock %}"
                href="/en/history/1">History</a>

            {% if current_user.is_authenticated: %}
            <a class="w3-bar-item w3-button w3-right w3-padding-16" href="/logout">Logout</a>
            <span class="w3-bar-item w3-right w3-padding-16">{{ current_user.name }}</span>
            {% else: %}
            <a class="w3-bar-item w3-button w3-right w3-padding-16{% block login_main %}{% endblock %}"
                href="/en/login">Login</a>
            {% endif %}
            <div class="w3-dropdown-hover w3-right">
                <button class="w3-button w3-padding-16">Language</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/fr/" class="w3-bar-item w3-button">French</a>
                    <a href="/de/" class="w3-bar-item w3-button">German</a>
                    <a href="/es/" class="w3-bar-item w3-button">Spanish</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<body>
    <div class="w3-container">
        <br><br><br>
        {% block content required %}{% endblock %}
    </div>
</body>

</html>