{% extends "en/base.html" %}

{% block title %}Broadcast{% endblock %}

{% block broadcast_main %} w3-teal{% endblock %}

{% block content %}
<h1>Broadcast</h1>
<h2>Before doing anything, read the text below.</h2>
<h3>
    You are about to experience greatness. Right now, so much power is in your hands.<br>
    But as they always say in the movies : "With great power comes great responsability".<br>
    I imagine you already have what you are going to say sorted out so before writing your wonderful message to the
    {{ stats["users"]["num"] }} people that signed in to website, make sure the awnsers to the following questions are
    all no.
</h3>
<h4>
    <ul>
        <li>Is your message harassing, insulting or encouraging hate against anyone ?</li>
        <li>Is your message using too much mild language for a family friendly website ?</li>
        <li>Does your message contain any link (like "http://example.com") or pseudo link (like "example.com")
            or attempts at putting a link that doesn't look like one (like "e x a m p l e . c o m" or "example
            dot com") ?</li>
    </ul>
</h4>
<input type="button" value="I have read the text above." id="activatorButton"
    onclick="enableSubmitButton('submitButton', 'activatorButton')">
<form method="post">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors: %}
    There was an error with the csrf token : {{ form.csrf_token.errors }}<br>
    {% endif %}

    {{ form.user_id(value=current_user.id_) }}
    {% if form.user_id.errors: %}
    This was not supposed to happen : {{ form.user_id.errors }}<br>
    {% endif %}

    {{ form.message.label }}<br>
    {{ form.message(rows="4", cols="128") }}<br>
    {% if form.message.errors: %}
    The field above had an error : {{ form.message.errors }}<br>
    {% endif %}

    {{ form.display_name.label }}<br>
    {{ form.display_name(size="64") }}<br>
    {% if form.display_name.errors: %}
    The field above had an error : {{ form.display_name.errors }}<br>
    {% endif %}

    {{ form.brod_code.label }}<br>
    {{ form.brod_code(placeholder="For example : Drmhze6E...", size="43") }}<br>
    {% if form.brod_code.errors: %}
    The field above had an error : {{ form.brod_code.errors }}<br>
    {% endif %}

    {{ form.submit(id="submitButton", style="cursor: not-allowed;", disabled=True) }}
</form>
{% endblock %}