{% extends "en/base.html" %}

{% import "to_import.html" as to_import %}

{% block title %}History page {{ hist_page }}{% endblock %}

{% block history_main %} w3-teal{% endblock %}

{% block content %}
{% for post in post_list: %}
{{ to_import.post(post) }}
{% endfor %}

<div class="w3-bar">
    <a href="/en/history/{{ hist_page - 1 }}" class="w3-bar-item w3-button">&laquo;</a>
    {% for nav_page in range(hist_page - 3, hist_page + 4): %}
    {% if nav_page == hist_page: %}
    <a href="/en/history/{{ nav_page }}" class="w3-bar-item w3-button w3-light-green">{{ nav_page }}</a>
    {% elif nav_page > 0: %}
    <a href="/en/history/{{ nav_page }}" class="w3-bar-item w3-button">{{ nav_page }}</a>
    {% endif %}
    {% endfor %}
    <a href="/en/history/{{ hist_page + 1 }}" class="w3-bar-item w3-button">&raquo;</a>
</div>
{% endblock %}