{% extends "en/base.html" %}

{% import "to_import.html" as to_import %}

{% block title %}Home{% endblock %}

{% block home_main %} w3-teal{% endblock %}

{% block content %}
{% if stats["broadcast"]["content"]: %}
{{ to_import.post(stats["broadcast"], target_lang="en") }}
{% else: %}
<h2>The new broadcaster hasn't responded yet so the post isn't here.<br>
    Meanwhile, you can check out every other posts that ever existed <a href="/en/history/1">here</a>, or make a <a
        href="/en/donate">donation</a> to keep this website running.</h2>
{% endblock %}