{% extends "en/base.html" %}

{% import "en/to_import.html" as to_import %}

{% block title %}Home{% endblock %}

{% block home_main %} w3-teal{% endblock %}

{% block content %}
{% if stats["broadcast"]["content"]: %}
{{ to_import.post(stats["broadcast"], target_lang="en", live=True, user=current_user) }}
{% else: %}
<h2>The new broadcaster hasn't responded yet so the post isn't here.<br>
    Meanwhile, you can check out every other posts that ever existed <a href="/en/history/1">here</a>, or make a <a
        href="/en/donate">donation</a> to keep this website running.</h2>
{% endif %}
<hr>
<div class="w3-container w3-round-xlarge w3-pale-blue">
    <h1 style="word-wrap: break-word;">RandomBroadcastingSelector</h1>
    <h3>
        The concept of this website is simple and its name is pretty self-explanatory.<br>
        Once a day, someone from this website's users is selected and gets to display a message on this here front page
        for everyone else to see.
    </h3>
</div>
{% endblock %}