{% extends "en/base.html" %}

{% block title %}Login{% endblock %}

{% block login_main %} w3-teal{% endblock %}

{% block content %}
<div class="w3-container w3-cell w3-round-xlarge w3-light-grey w3-center" style="padding: 20px 50px 30px;">
    <h1 style="text-align:center;">Continue with Social Media</h1>
    <a href="/login/google" class="w3-button w3-block w3-section w3-round-large w3-red w3-hover-orange">
        <i class="fa fa-google fa-fw"></i> Continue with Google
    </a>
    <a href="/login/twitter" class="w3-button w3-block w3-section w3-round-large w3-blue w3-hover-light-blue">
        <i class="fa fa-twitter fa-fw"></i> Continue with Twitter
    </a>
    <a href="/login/github" class="w3-button w3-block w3-section w3-round-large w3-black w3-hover-grey">
        <i class="fa fa-github fa-fw"></i> Continue with Github
    </a>
    <a hidden href="/login/facebook" class="w3-section w3-round-large w3-indigo w3-hover-blue">
        <!--                            add "w3-button w3-block " to above when needed -->
        <i class="fa fa-facebook fa-fw"></i> Continue with Facebook
    </a>
    <small style="text-align:center;">By pressing "Continue" you agree to the <a href="/privacy-policy/">Privacy
            Policy</a> and <a href="/terms-of-service/">Terms of Service</a> of this site.</small>
</div>
{% endblock %}