{% macro post(post, target_lang="", live=False, user=None) -%}
<div class="w3-container" style="padding:0;">
    <div class="w3-container w3-cell w3-center" style="padding:0 16px 0 0;">
        {% if live and user.is_authenticated: %}
        <input type="button" id="upvoteButton" onclick="invertColorVote('upvote')" class="w3-button w3-round-large w3-hover-light-green
        {% if user.upvote == post['id']: %} w3-text-green w3-hover-text-green{% endif %}
        " value="▲"><br>
        {% else: %}
        <input type="button" class="w3-button w3-round-large w3-hover-light-green" value="▲"><br>
        {% endif %}

        <span class="w3-text-green" id="upvote_num">{{ post["upvotes"] }}</span><br>
        <span class="w3-text-red" id="downvote_num">{{ post["downvotes"] }}</span><br>

        {% if live and user.is_authenticated: %}
        <input type="button" id="downvoteButton" onclick="invertColorVote('downvote')" class="w3-button w3-round-large w3-hover-orange
        {% if user.downvote == post['id']: %} w3-text-red w3-hover-text-red{% endif %}
        " value="▼"><br>
        {% else: %}
        <input type="button" class="w3-button w3-round-large w3-hover-orange" value="▼">
        {% endif %}
    </div>
    <div class="w3-container w3-cell w3-round-large w3-light-grey" style="padding:0 16px 16px 16px;">
        <h4>❝{{ post["content"] }}❞</h4>
        {% if target_lang and target_lang != post["lang"]: %}
        <h5>Translation : {{ post["trads"][target_lang] }}</h5>
        {% endif %}
        <h6>by {{ post["author_name"] }}</h6>
        <small>Id : {{ post["id"] }} | Date : {{ post["date"] }}
            <!-- | <a class="w3-hover-red" onclick="openReportForm()">Report (testing)</a> 
                TODO : enlever quand form terminée -->
            {% if live and user.is_authenticated: %}
            | <a class="w3-hover-red" onclick="openReportForm()">Report</a>
            {% endif %}
        </small>
        <div class="form-popup w3-card-4 w3-container" id="reportForm">
            <h4>What is the reason of your report (read the text below before doing anything).</h4>
            <h5>
                The purpose of reporting is to ultimately ban any broadcaster that breaks the rules so if you have any
                queries regarding the broadcast that do not imply that the broadcaster should be banned (for example a
                translation error) you can contact me by clicking on my name in the footer at the bottom of the
                page.<br>
                Do not report for no reason because you will have to quote the part of the broadcast where the offense
                was made in the input at the end of the form.<br>
                For the input at the end of the form, you have to quote at least 2 words (a word is something that is
                surrounded by a space or a period), which mean you cannot split a word in half. (for
                example "in half" is valid, "in.half is valid but "in hal" isn't)<br>
                Another thing about the input at the end, you can only quote the original message and not the
                translation that has been made, because we can't risk banning people because of bad translations.<br>
                Be careful to fill this form correctly as you will not be able to modify or delete it.
            </h5>
            <input type="button" value="I have read the text above." id="activatorButton"
                onclick="enableSubmitButton('submitButton', 'activatorButton')">
            <form action="/report-callback" class="w3-light-grey" method="post"
                onsubmit="return validateReportForm('{{ post.content }}')">
                <label>
                    <input type="radio" name="reason" value="harassement"
                        onclick="changeReportFormBottomInputLabel('harassement')" required>
                    Is this broadcast harassing, insulting or encouraging hate against anyone ?
                </label><br>
                <label>
                    <input type="radio" name="reason" value="mild-lang"
                        onclick="changeReportFormBottomInputLabel('mild-lang')" required>
                    Is this broadcast using too much mild language for a family friendly website ?
                </label><br>
                <label>
                    <input type="radio" name="reason" value="link" onclick="changeReportFormBottomInputLabel('link')"
                        required>
                    Does this broadcast contain any link (like "http://example.com") or pseudo link (like "example.com")
                    or attempts at putting a link that doesn't look like one (like "e x a m p l e . c o m" or "example
                    dot com") ?
                </label><br><br>
                Here is the broadcast so you can copy and paste easily : "{{ post["content"] }}"<br>
                <label>
                    <span id="quote_label">This is where you have quote the part of the message where the offense was
                        made. This label is going to change as you select different options.</span><br>
                    <input type="text" name="message_quote" id="quote_input" required>
                </label><br>
                <input type="submit" value="Submit" id="submitButton" class="w3-disabled" disabled>
            </form><br>
            <img src="/static/img/close.png" alt="Close" class="hover-zoom" onclick="closeReportForm()"
                style="position:fixed; right:10%; top:10%; height: 50px;">
        </div>
    </div>
</div>
{%- endmacro %}