{% extends "base.html" %}

{% block title %}{{ _("About") }}{% endblock %}

{% block content %}
<h1>{{ _("About") }}</h1>
<h2>{{ _("This website") }}</h2>
<p>{{ _("Link to the Github repo:") }} <a href="https://github.com/Nifle-CGE/RandomBroadcastingSelector" class="w3-text-blue">https://github.com/Nifle-CGE/RandomBroadcastingSelector</a></p>
<img alt="GitHub release (latest by date)" src="https://img.shields.io/github/v/release/Nifle-CGE/RandomBroadcastingSelector"><br>
<iframe src="https://web-rbs.betteruptime.com/badge?theme=light" width="250" height="30" frameborder="0" scrolling="no"></iframe><br>
<img alt="Mozilla HTTP Observatory Grade" src="https://img.shields.io/mozilla-observatory/grade-score/web-rbs.com?publish"><br>

<h2>{{ _("The creator") }}</h2>
<img alt="GitHub followers" src="https://img.shields.io/github/followers/Nifle-CGE?style=social"><br>
<img alt="Twitch Status" src="https://img.shields.io/twitch/status/nifle_cge?style=social"><br>
<p>{{ _("I am Nifle, a young developer.") }}</p>

<h2>{{ _("Donate") }}</h2>
<h3>{{ _("General") }}</h3>
<a href="https://tipeee.com/nifle">uTip</a>

<h3>{{ _("Crypto") }}</h3>
{{ _("Banano address:") }} ban_1kktoeszw9r91g7ytynbj47tyx4cdc31fqbfgeg8dz44574ub7sy1hutxa7g<br>
{{ _("Ethereum address (also works with binance network):") }} 0xDe985E2d8492c1911A720f53B1B4c99F2980B709<br>
{{ _("Coinbase wallet id:") }} @nifle_cge

{% endblock %}