{% extends "base.html" %}

{% block title %}{{ _("About") }}{% endblock %}

{% block content %}
<h1>{{ _("About") }}</h1>
<h2>{{ _("This website") }}</h2>
<p>{{ _("Link to the Github repo:") }} <a href="https://github.com/Nifle-CGE/RandomBroadcastingSelector" class="w3-text-blue">https://github.com/Nifle-CGE/RandomBroadcastingSelector</a></p>
<img alt="GitHub release (latest by date)" src="https://img.shields.io/github/v/release/Nifle-CGE/RandomBroadcastingSelector"><br>
<p>{{ _("Link to the Uptime Robot status page:") }} <a href="https://stats.uptimerobot.com/zyBwjtGqVy" class="w3-text-blue">https://stats.uptimerobot.com/zyBwjtGqVy</a></p>
<img alt="Uptime Robot ratio (30 days)" src="https://img.shields.io/uptimerobot/ratio/m792931248-9e469088fd78cb7d2953e066"><br>
<img alt="Mozilla HTTP Observatory Grade" src="https://img.shields.io/mozilla-observatory/grade-score/rbs.azurewebsites.net?publish"><br>
<img alt="Security Headers" src="https://img.shields.io/security-headers?url=https%3A%2F%2Frbs.azurewebsites.net">

<h2>{{ _("The creator") }}</h2>
<img alt="GitHub followers" src="https://img.shields.io/github/followers/Nifle-CGE?style=social"><br>
<img alt="Discord" src="https://img.shields.io/discord/697004014419836929?style=social"><br>
<img alt="Reddit User Karma" src="https://img.shields.io/reddit/user-karma/combined/elf1du22?style=social"><br>
<img alt="Twitch Status" src="https://img.shields.io/twitch/status/nifle_cge?style=social"><br>
<img alt="YouTube Channel Subscribers" src="https://img.shields.io/youtube/channel/subscribers/UC4mYYYVA882Mlflma0xcF_Q?style=social">
<p>{{ _("I am Nifle, a young developer.") }}</p>

<h2>{{ _("Donate") }}</h2>
<h3>{{ _("General") }}</h3>
<a href="https://www.utip.io/nifle">uTip</a>

<h3>{{ _("Crypto") }}</h3>
{{ _("Banano address:") }} ban_1kktoeszw9r91g7ytynbj47tyx4cdc31fqbfgeg8dz44574ub7sy1hutxa7g<br>
{{ _("Ethereum address (also works with binance network):") }} 0xDe985E2d8492c1911A720f53B1B4c99F2980B709<br>
{{ _("Coinbase wallet id:") }} @nifle_cge

{% endblock %}