{% extends "base.html" %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
<h1>Admin Panel</h1>
<h2>Tout ce qui est ban</h2>
<h3>Pour ban qqun</h3>
<form method="post">
    {{ banunban.csrf_token }}
    {% if banunban.csrf_token.errors: %}
    There was an error with the csrf token : {{ banunban.csrf_token.errors }}<br>
    {% endif %}

    {{ banunban.verif_code(value=verif_code) }}
    {% if banunban.verif_code.errors: %}
    There was an error with the verification code : {{ banunban.verif_code.errors }}<br>
    {% endif %}

    {{ banunban.user_id.label }}
    {{ banunban.user_id }}<br>
    {% if banunban.user_id.errors: %}
    The field above had an error : {{ banunban.user_id.errors }}<br>
    {% endif %}

    {% for subfield in banunban.whatodo: %}
    {{ subfield(onclick="document.getElementById('ban_inputs').hidden = (this.value !== 'ban');") }}
    {{ subfield.label }}
    {% endfor %}<br>
    {% if banunban.whatodo.errors: %}
    The field above had an error : {{ banunban.whatodo.errors }}<br>
    {% endif %}

    <div id="ban_inputs" hidden>
        {{ banunban.ban_message.label }}
        {{ banunban.ban_message }}<br>

        {{ banunban.ban_reason.label }}
        {{ banunban.ban_reason }}<br>

        {{ banunban.ban_most_quoted.label }}
        {{ banunban.ban_most_quoted }}<br>
    </div>

    {{ banunban.silenced }}
    {{ banunban.silenced.label }}<br>

    {{ banunban.submit }}
</form>

<h3>Pour reviewer une demande de déban et accepter ou refuser</h3>
<p>
    banned_user.id_ : {{ banned_user.id_ }}<br>
    banned_user.ban_message : {{ banned_user.ban_message }}<br>
    banned_user.ban_reason : {{ banned_user.ban_reason }}<br>
    banned_user.ban_most_quoted : {{ banned_user.ban_most_quoted }}<br>
    banned_user.ban_appeal : {{ banned_user.ban_appeal }}
</p>
<form method="post">
    {{ appealview.csrf_token }}
    {% if appealview.csrf_token.errors: %}
    There was an error with the csrf token : {{ appealview.csrf_token.errors }}<br>
    {% endif %}

    {{ appealview.verif_code(value=verif_code) }}
    {% if appealview.verif_code.errors: %}
    There was an error with the verification code : {{ appealview.verif_code.errors }}<br>
    {% endif %}

    {{ appealview.user_id(value=banned_user.id_) }}
    {% if appealview.user_id.errors: %}
    The field above had an error : {{ appealview.user_id.errors }}<br>
    {% endif %}

    {% for subfield in appealview.whatodo: %}
    {{ subfield }}
    {{ subfield.label }}
    {% endfor %}<br>
    {% if appealview.whatodo.errors: %}
    The field above had an error : {{ appealview.whatodo.errors }}<br>
    {% endif %}

    {{ appealview.silenced }}
    {{ appealview.silenced.label }}<br>

    {% if banned_user.id_ != "no_ban_appeal": %}
    {{ appealview.submit }}
    {% else %}
    {{ appealview.submit(style="cursor: not-allowed;", disabled=True) }}
    {% endif %}
</form>

<h2>Tout ce qui est fichiers</h2>
<h3>Stats</h3>
<form method="post" enctype="multipart/form-data">
    <label>
        Import
        <input type="file" name="stats_file">
    </label><br>
    <input type="hidden" name="verif_code" value="{{ verif_code }}">
    <input type="hidden" name="action" value="import_stats">
    <input type="submit" value="Submit">
</form>
<form method="post">
    <input type="hidden" name="verif_code" value="{{ verif_code }}">
    <input type="hidden" name="action" value="export_stats">
    <input type="submit" value="Export">
</form>

<h3>Logs</h3>
<form method="post" enctype="multipart/form-data">
    <label>
        Import
        <input type="file" name="logs_file">
    </label><br>
    <input type="hidden" name="verif_code" value="{{ verif_code }}">
    <input type="hidden" name="action" value="import_logs">
    <input type="submit" value="Submit">
</form>
<form method="post">
    <input type="hidden" name="verif_code" value="{{ verif_code }}">
    <input type="hidden" name="action" value="export_logs">
    <input type="submit" value="Export">
</form>
{% endblock %}