<body style="font-family: 'Roboto', sans-serif;">
    <h1><b>R</b>andom<b>B</b>roadcasting<b>S</b>elector</h1>
    <h3>Hello, you were banned because of your message : "{{ brod.ban_message }}".<br>
        Your message was most reported for the following reason : {{ brod.ban_reason }}.<br>
        This part of your message was the most quoted for the precedent reason : "{{ brod.ban_most_quoted }}".<br>
        You can click <a href="https://{{ server_name }}/en/login">here</a> to login and make a ban appeal.</h3>
    <p>If you think this is a scam, then all right, don't click on the link, just go on the website by
        searching for it on the web and you'll see.</p>
    <small>If you spot any spelling mistakes, you can respond to this email and I'll correct them.</small>
    <br><br>
    <hr>
    <h3>Salut, tu a été banni.e a cause de ton message : "{{ brod.ban_message }}".<br>
        Votre message a été le plus signalé pour la raison suivante : {{ brod.ban_reason }}.<br>
        Cette partie de ton message a été le plus cité pour la raison précédente : "{{ brod.ban_most_quoted }}".<br>
        Tu peux cliquer <a href="https://{{ server_name }}/fr/login">ici</a> pour te connecter et faire une demande
        de débannissement.</h3>
    <p>Si tu pense que c'est une arnaque, ben ok, pas de problème, ne clique pas sur le lien dans ce mail, tu
        peux juste aller sur le site par une recherche web et tu verras.</p>
    <small>Si tu vois des erreurs d'orthographe tu peux répondre a cet email et je corrigerais.</small>
</body>