<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/w3.css">

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <script src="/static/js/script.js"></script>

    <title>Ban appeal - RandomBroadcastingSelector</title>
</head>

<nav>
    <div class="w3-top">
        <div class="w3-bar w3-light-grey">
            <a href="/en/"><img class="logo w3-bar-item" style="padding: 0;height: 54.5px;"
                    src="/static/img/logo RBS.png" alt="RBS logo"></a>
            <a class="w3-bar-item w3-button w3-padding-16" href="/en/">Home</a>

            <div class="w3-dropdown-hover w3-right">
                <button class="w3-button w3-padding-16">Language</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/fr/" class="w3-bar-item w3-button">French</a>
                    <a href="/de/" class="w3-bar-item w3-button">German</a>
                    <a href="/es/" class="w3-bar-item w3-button">Spanish</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<body>
    <div class="w3-container">
        <br><br>
        <form action="/ban-appeal-callback" method="post">
            <p>Enter why you should be unbanned.</p>
            <p><input type="text" name="reason" /></p>
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="hidden" name="id_hashed" value="{{ id_hashed }}">
            <p><input type="submit" value="submit" /></p>
        </form>
    </div>
</body>

</html>