<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/w3.css">

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <script src="/static/js/script.js"></script>

    <title>History page {{ hist_page }} - RandomBroadcastingSelector</title>
</head>

<nav>
    <div class="w3-top">
        <div class="w3-bar w3-light-grey">
            <a href="/en/"><img class="logo w3-bar-item" style="padding: 0;height: 54.5px;"
                    src="/static/img/logo RBS.png" alt="RBS logo"></a>
            <a class="w3-bar-item w3-button w3-padding-16" href="/en/">Home</a>
            <a class="w3-bar-item w3-button w3-padding-16" href="/en/statistics">Stats</a>
            <a class="w3-bar-item w3-button w3-padding-16 w3-teal" href="/en/history/1">History</a>

            {% if current_user.is_authenticated: %}
            <a class="w3-bar-item w3-button w3-right w3-padding-16" href="/logout">Logout</a>
            <span class="w3-bar-item w3-right w3-padding-16">{{ current_user.name }}</span>
            {% else: %}
            <a class="w3-bar-item w3-button w3-right w3-padding-16" href="/en/login">Login</a>
            {% endif %}
            <div class="w3-dropdown-hover w3-right">
                <button class="w3-button w3-padding-16">Language</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/fr/" class="w3-bar-item w3-button">French</a>
                    <a href="/de/" class="w3-bar-item w3-button">German</a>
                    <a href="/es/" class="w3-bar-item w3-button">Spanish</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<body>
    <div class="w3-container">
        <br><br>
        <h1>History page {{ hist_page }}</h1>
        {% for post in post_list: %}
        <div class="w3-row">
            <div class="w3-col" style="width:10%">
                up<br>{{ post["upvotes"] }}<br>down<br>{{ post["downvotes"] }}
            </div>
            <div class="w3-col w3-container w3-light-grey" style="width:90%;border-radius: 5px;">
                <h5>❝{{ post["content"] }}❞</h5>
                <p>by {{ post["broadcaster_name"] }}</p>
                <small>Id : {{ post["id"] }}</small>
            </div>
        </div>
        {% endfor %}

        <div class="w3-bar">
            <a href="/en/history/{{ hist_page - 1 }}" class="w3-bar-item w3-button">&laquo;</a>
            {% for nav_page in range(hist_page - 3, hist_page + 4): %}
            {% if nav_page == hist_page: %}
            <a href="/en/history/{{ nav_page }}" class="w3-bar-item w3-button w3-light-green">{{ nav_page }}</a>
            {% elif nav_page > 0: %}
            <a href="/en/history/{{ nav_page }}" class="w3-bar-item w3-button">{{ nav_page }}</a>
            {% endif %}
            {% endfor %}
            <a href="/en/history/{{ hist_page + 1 }}" class="w3-bar-item w3-button">&raquo;</a>
        </div>
    </div>
</body>

</html>