<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <script src="/static/js/script.js"></script>

    <title>History page {{ hist_page }} - RandomBroadcastingSelector</title>
</head>

<nav>
    <ul class="navbar">
        <li><img class="logo" src="/static/img/logo RBS.png" alt="RBS logo" onclick="location.href='/en/'"></li>
        <li><a href="/en/">Home</a></li>
        <li><a href="/en/statistics">Stats</a></li>
        <li><a class="active" href="/en/history/1">History</a></li>
        {% if current_user.is_authenticated: %}
        <li style="float:right;"><a href="/logout">Logout</a></li>
        <li style="float:right;"><a>{{ current_user.name }}</a></li>
        {% else: %}
        <li style="float:right;"><a href="/en/login">Login</a></li>
        {% endif %}
    </ul>
</nav>

<body>
    <h1>History page {{ hist_page }}</h1>
    {% for post in post_list: %}
    <div border="1"></div>

</body>

</html>