<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <script src="/static/js/script.js"></script>

    <title>Login - RandomBroadcastingSelector</title>
</head>

<nav>
    <div class="w3-top">
        <div class="w3-bar w3-light-grey">
            <a href="/en/"><img class="logo w3-bar-item" style="padding: 0;height: 54.5px;"
                    src="/static/img/logo RBS.png" alt="RBS logo"></a>
            <a class="w3-bar-item w3-button w3-padding-16" href="/en/">Home</a>
            <a class="w3-bar-item w3-button w3-padding-16" href="/en/statistics">Stats</a>
            <a class="w3-bar-item w3-button w3-padding-16" href="/en/history/1">History</a>

            {% if current_user.is_authenticated: %}
            <a class="w3-bar-item w3-button w3-right w3-padding-16" href="/logout">Logout</a>
            <span class="w3-bar-item w3-right w3-padding-16">{{ current_user.name }}</span>
            {% else: %}
            <a class="w3-bar-item w3-button w3-right w3-padding-16 w3-teal" href="/en/login">Login</a>
            {% endif %}
            <div class="w3-dropdown-hover w3-right">
                <button class="w3-button w3-padding-16">Language</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/fr/" class="w3-bar-item w3-button">French</a>
                    <a href="/de/" class="w3-bar-item w3-button">German</a>
                    <a href="/es/" class="w3-bar-item w3-button">Spanish</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<body>
    <div class="w3-container">
        <br><br><br>
        <div class="container" style="width: 50%;">
            <h1 style="text-align:center;">Continue with Social Media</h1>
            <a href="/login/google" class="google btn"><i class="fa fa-google fa-fw"></i> Continue with Google</a>
            <a href="/login/twitter" class="twitter btn">
                <i class="fa fa-twitter fa-fw"></i> Continue with Twitter
            </a>
            <a href="/login/github" class="github btn">
                <i class="fa fa-github fa-fw"></i> Continue with Github
            </a>
            <a hidden href="/login/facebook" class="facebook btn">
                <i class="fa fa-facebook fa-fw"></i> Continue with Facebook
            </a>
            <small style="text-align:center;">By pressing "Continue" you agree to the <a href="/privacy-policy/">Privacy
                    Policy</a> and <a href="/terms-of-service/">Terms of Service</a> of this site</small>
        </div>
    </div>
</body>

</html>