<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/w3.css">

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <script src="/static/js/script.js"></script>

    <title>Statistics - RandomBroadcastingSelector</title>
</head>

<nav>
    <div class="w3-top">
        <div class="w3-bar w3-light-grey">
            <a href="/en/"><img class="logo w3-bar-item" style="padding: 0;height: 54.5px;"
                    src="/static/img/logo RBS.png" alt="RBS logo"></a>
            <a class="w3-bar-item w3-button w3-padding-16" href="/en/">Home</a>
            <a class="w3-bar-item w3-button w3-padding-16 w3-teal" href="/en/statistics">Stats</a>
            <a class="w3-bar-item w3-button w3-padding-16" href="/en/history/1">History</a>

            {% if current_user.is_authenticated: %}
            <a class="w3-bar-item w3-button w3-right w3-padding-16" href="/logout">Logout</a>
            <span class="w3-bar-item w3-right">{{ current_user.name }}</span>
            {% else: %}
            <a class="w3-bar-item w3-button w3-right w3-padding-16" href="/en/login">Login</a>
            {% endif %}
            <div class="w3-dropdown-hover w3-right">
                <button class="w3-button w3-padding-16">Language</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/fr/" class="w3-bar-item w3-button">French</a>
                    <a href="/de/" class="w3-bar-item w3-button">German</a>
                    <a href="/es/" class="w3-bar-item w3-button">Spanish</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<body>
    <br><br>
    <h1>Global Statistics</h1>
    <h2>This Broadcasts info</h2>
    {% if stats["broadcast"]["lang"] == "en": %}
    Current message : ❝{{ stats["broadcast"]["content"] }}❞<br>
    {% else: %}
    Traducted message : ❝{{ stats["broadcast"]["trads"]["en"] }}❞<br>
    Original message : ❝{{ stats["broadcast"]["content"] }}❞<br>
    Message language : {{ stats["broadcast"]["lang"] }}<br>
    {% endif %}
    Broadcaster : {{ stats["broadcast"]["broadcaster_name"] }}<br>
    Upvotes : {{ stats["broadcast"]["upvotes"] }}<br>
    Downvotes : {{ stats["broadcast"]["downvotes"] }}<br>
    Reports for this message : {{ stats["broadcast"]["reports"] }}<br>


    <h2>General Broadcasting info</h2>
    Broadcasts sent : {{ stats["broadcasts"]["msgs_sent"] }}<br>
    {% for lang_code, number in stats["broadcasts"]["langs_msgs_sent"].items(): %}
    Broadcasts in {{ lang_code }} sent : {{ number }}<br>
    {% endfor %}

    <h2>Users info</h2>
    Registered users : {{ stats["users"]["num"] }}<br>
    Banned users : {{ stats["users"]["banned"] }}<br>
    Users who logged in in the last hour : {{ stats["users"]["lastlog_hour"] }}<br>
    Users who logged in the last 24 hour : {{ stats["users"]["lastlog_24h"] }}<br>
    Users who logged in the last week : {{ stats["users"]["lastlog_week"] }}<br>

    <h2>Time info</h2>
    Uptime : {{ stats["time"]["uptime_str"] }}<br>
    Time to get stats : {{ stats["time"]["stats_getting"] * 1000 }} ms<br>

    <h2>Top broadcasts in different categories</h2>
    <table>
        <h3>5 most upvoted</h3>
        {% for post in stats["top_posts"]["5_most_upped"] %}
        <tr>
            <td>up<br>{{ post["upvotes"] }}<br>down<br>{{ post["downvotes"] }}</td>
            <td>
                <div class="container">
                    <h5>{{ post["content"] }}</h5>
                    <p>by {{ post["broadcaster_name"] }}</p>
                    <small>Id : {{ post["id"] }}</small>
                </div>
            </td>
        </tr>
        {% endfor %}
        <h3>5 most downvoted</h3>
        {% for post in stats["top_posts"]["5_most_downed"] %}
        <tr>
            <td>up<br>{{ post["upvotes"] }}<br>down<br>{{ post["downvotes"] }}</td>
            <td>
                <div class="container">
                    <h5>{{ post["content"] }}</h5>
                    <p>by {{ post["broadcaster_name"] }}</p>
                    <small>Id : {{ post["id"] }}</small>
                </div>
            </td>
        </tr>
        {% endfor %}
        <h3>5 most popular (highest upvotes/downvotes ratio)</h3>
        {% for post in stats["top_posts"]["5_most_pop"] %}
        <tr>
            <td>up<br>{{ post["upvotes"] }}<br>down<br>{{ post["downvotes"] }}</td>
            <td>
                <div class="container">
                    <h5>{{ post["content"] }}</h5>
                    <p>by {{ post["broadcaster_name"] }}</p>
                    <small>Id : {{ post["id"] }}</small>
                </div>
            </td>
        </tr>
        {% endfor %}
        <h3>5 most unpopular (lowest upvotes/downvotes ratio)</h3>
        {% for post in stats["top_posts"]["5_most_unpop"] %}
        <tr>
            <td>up<br>{{ post["upvotes"] }}<br>down<br>{{ post["downvotes"] }}</td>
            <td>
                <div class="container">
                    <h5>{{ post["content"] }}</h5>
                    <p>by {{ post["broadcaster_name"] }}</p>
                    <small>Id : {{ post["id"] }}</small>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>

    <small>These stats are updated every 10 minutes.</small>
</body>

</html>