{% extends "base.html" %}

{% import "to_import.html" as to_import with context %}

{% block title %}{{ _("History page %(page)s", page=hist_page) }}{% endblock %}

{% block history_main %} w3-teal{% endblock %}

{% block content %}
{% if post_list: %}
{% for post in post_list: %}
{{ to_import.post(post) }}
{% endfor %}
{% else: %}
<h3>{{ _("These posts don't exist yet.") }}</h3>
{% endif %}

<div class="w3-bar">
    <a href="/en/history/{{ hist_page - 1 }}" class="w3-bar-item w3-button">◄</a>
    {% for nav_page in range(hist_page - 3, hist_page + 4): %}
    {% if nav_page == hist_page: %}
    <a href="/en/history/{{ nav_page }}" class="w3-bar-item w3-button w3-light-green">{{ nav_page }}</a>
    {% elif nav_page > 0: %}
    <a href="/en/history/{{ nav_page }}" class="w3-bar-item w3-button">{{ nav_page }}</a>
    {% endif %}
    {% endfor %}
    <a href="/en/history/{{ hist_page + 1 }}" class="w3-bar-item w3-button">►</a>
</div>
{% endblock %}