{% extends "base.html" %}

{% import "to_import.html" as to_import with context %}

{% block title %}{{ _("Home") }}{% endblock %}

{% block home_main %} w3-teal w3-hover-blue-gray{% endblock %}

{% block content %}
{% if stats["broadcast"]["content"]: %}
<br>
{{ to_import.post(stats["broadcast"], live=True) }}
<small class="flex-center">{{ _("Next broadcaster in %(rem_time)s", rem_time=rem_time) }}</small>
{% else: %}
<h4 class="w3-center">
    {{ _("The new broadcaster hasn't responded yet so the post isn't here. The chosen one still has %(rem_time)s to respond.", rem_time=rem_time) }}<br>
    {{ _("Meanwhile, you can check out every other posts that ever existed") }} <a href="/history/">{{ _("here") }}</a>{{ _(", or make a") }} <a href="/donate">{{ _("donation") }}</a> {{ _("to keep this website running.") }}
</h4>
{% endif %}
<hr>
<div style="display:flex;flex-direction:column;align-items:center;">
    <div class="w3-container w3-cell w3-center w3-round-xlarge w3-light-grey">
        <h3>{{ _("The concept") }}</h3>
        <h5>
            {{ _("of this website is simple and its name is pretty self-explanatory.") }}<br>
            {{ _("Once a day (24h), someone from this website's users (users are people who logged in to this website at least once) is randomly selected and gets to display a message on this here front page for everyone else to see.") }}
        </h5>
    </div>
</div>
{% endblock %}