{% extends "base.html" %}

{% import "to_import.html" as to_import with context %}

{% block title %}{{ _("Home") }}{% endblock %}

{% block home_main %}w3-teal w3-hover-blue-gray{% endblock %}

{% block content %}

<div class="w3-center">
    {% if stats["broadcast"]["content"]: %}
    {{ to_import.post(stats["broadcast"], live=True) }}
    <small>{% trans rem_time=rem_time %}Next broadcaster in <span id="rem_time_counter">{{ rem_time }}</span>{% endtrans %}</small>
    {% else: %}
    <h4 class="w3-center">
        {% trans rem_time=rem_time %}The new broadcaster hasn't responded yet so the post isn't here. The chosen one still has <span id="rem_time_counter">{{ rem_time }}</span> to respond.<br>
        Meanwhile, you can check out every other posts that ever existed <a href="/history/">here</a>, or make a <a href="/about/">donation</a> to keep this website running.{% endtrans %}
    </h4>
    {% endif %}
    <script nonce="{{ csp_nonce() }}">
        setInterval(countDown, 1000, "rem_time_counter")
    </script>
    <hr>
    <div class="w3-container w3-cell w3-round-xlarge w3-flat-clouds">
        <h3>{{ _("The concept") }}</h3>
        <h5>
            {% trans %}of this website is simple and its name is pretty self-explanatory.<br>
            Once a day (24h), someone from this website's users (users are people who logged in to this website at least once) is randomly selected and gets to display a message on this here front page for everyone else to see.{% endtrans %}
        </h5>
    </div>
</div>

{% endblock %}